<!DOCTYPE html>
<html>
<head>
    <title>Lost Ark Progression Guide</title>
    </head>
<body>
<h1>
Lost Ark Progression Guide
</h1>

<p>
This website was created as a guide for players of one of the newest MMOARPG's, created by Smilegate named Lost Ark.
 After you progress through the main story quest and hit level 50 You will start the process to grind for end game materials related to the tier you are currently at through many different methods such as
 gaurdian raids, abyss dungeons, island rewards, etc. These resources that you'll be obtaining will allow you to upgrade your current tier of armor to eventually move up to the next tier which will unlock new content.
 This guide will be first recieving your in game information to determine which tier your are at and the three best ways to gain materials for each tier.
</p>

<form action="/Tiers" method="get">
<label for="gname">In-Game Name:<label>
<input type="text" id="gname" name="gname"><br><br>
<label for="ilvl">Item Level:</label>
<input type="text" id="ilvl" name="Item Level"><br><br>



<select name="ilvl" id="ilvl">
  <option value="T1">250-600</option>
  <option value="T2">600-1100</option>
  <option value="T3">1100-1550</option>
</select>

<input type="submit" value="Submit">
</form>
<img src="/static/tier-1-img.png" alt="image of tier one" width="200" height="200">

<a href="T1">page1.html</a>

<img src="/static/tier-2-img.png" alt="image of tier two" width="200" height="200">

<a href="T2">page2.html</a>

<img src="/static/tier-3-img.jpg" alt="image of tier three" width="200" height="200">

<a href="T3">page3.html<a/>

</body>
</html>










</html>
