{% extends "layout.html" %}

{% set active_page = "page3" %}

{% block title %}Page 3{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Tier 3</h1>

<p>
This is the final tier of Lost Ark and starts the real interesting endgame. You will want to do the punnika questline to get your first set of tier 3 gear.
 There is only one island in this tier that you can go to daily unlike the other tiers where there are multiple islands that give big one time rewards.
 The main way to push tier three is to have 6  characters all getting to tier three to funnel all the collected resources to your main character.
  Another way is to do events that are going on in Arkesia which will give you rewards of your choosing.
</p>

<h3>
Anguished Isle
</h3>

<img src="/static/Anguished-Isle.jpg" alt="image of the location of Anguished Isle on the map" width="800" height="600">












{% endblock %}
