{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Tier 1</h1>

<p>
     This is the first tier that youll be entering after you complete the main story and do your first choas dungeon or complete
     the Shushire questline to gain your first set of endgame gear. Here are the top three ways to earn materials for gear progression!
</p>

<h3>
1. Glacier Isle
</h3>

<img src="/static/Glacier-Isle-Island.jpg" alt="Image of where Glacier Island is on the map" width="800" height="600">

<p>
The rewards from this island are 10,600 Silver, 590 Weapon Crystals, 2,200 Armor Crystals, 21,000 Harmony Shards, 30 Harmony Leapstones, 6 green battle engraving pouches, and 50 gold.
</p>

<h3>
2. Dreamgull Island
</h3>

<img src="/static/Dreamgull-Island.jpg" alt="Image of where Dreamgull Island is on the map" width="800" height="600">

<p>
This island gives you 1,400 Weapon Crystals, 2,460 Armor Crystals, 22,500 Harmony Shards. So this island is most likely the best for farming upgrade materials.
 There are some requirements to unlocking the rewards for this island which can be found on a very helpful website called Papunika.com
</p>

<h3>
3. Starlight Isle
</h3>

<img src="/static/Starlight-Isle.jpg" alt="Image of where Starlight Isle is on the map" Width="800" height="600">

<p>
This Island is the main resource for Harmony Leapstones because it nets you 190 and also gives a nice amount of Harmony Shards of 19,500.
</p>


{% endblock %}
