{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Tier 2</h1>

<p>
Once You get the +15 upgrades on all of your tier 1 gear your going to be at item level 600 which will allow you to complete the main story questline in Yorn.
 What I recomend before going to Yorn is to buy a cheap set of Tier 2 gear on the market and gear transfer your tier one set into your new tier two set.
  This will make the story go by quicker and make it easier to go through the dungeons. Now here are the Top 3 ways to earn materials at Tier 2...
</p>

<h3>
1. Twilight Isle
</h3>

<img src="/static/Twilight-Isle.jpg" alt="Image of where Twilight Isle is on the map" width="800" height="600">

<p>
This island is a super quick one that gives you tons of rewards! it gives you 810 Weapon Crystals, 2,170 Armor Crystals, 70 Leapstones, and 23,000 Shards
</p>

<h3>
2. Fomona Island
</h3>

<img src="/static/Fomona-Island.jpg" alt="Image of Fomona island on the map" width="800" height="600">

<p>
This island is also a super quick island (will take about 5 min) that gives you 1,200 weapon Crystals, 1,200 Armor Crystals, 14,000 Life Shards, and the island heart.
</p>

<h3>
3. Distorted Island
</h3>

<img src="/static/Distorted-Island.jpg" alt="Image of where Distorted Island is on the map" width="800" height="600">

<p>
This island will give you 800 Weapon Crystals, 1,500 Armor Crystals, 50 Leapstones, 15,000 Life Shards and the island heart.
</p>



















{% endblock %}
